<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Admin Panel</title>
  </head>
  <body
    class="flex flex-col h-[100vh] w-[100vw] text-center bg-[#081c15] text-[#fefae0]"
  >
    <h1 class="text-[28px] font-bold p-[8rem] pb-[5rem]">
      Newsletter Control Panel
    </h1>
    <form
      action="/newsletterOnWeeknd"
      method="POST"
      class="flex flex-col gap-[1rem] items-center p-[3rem]"
    >
      <label for="subject">Subject</label>
      <input
        type="text"
        id="subject"
        name="subject"
        class="border-[0.1rem] border-[#081c15] bg-[#fefae0] text-[#081c15] items-center p-[0.5rem] rounded-[5px]"
      />
      <label for="bodyText">Body</label>
      <textarea
        id="bodyText"
        name="bodyText"
        class="border-[0.1rem] border-[#081c15] bg-[#fefae0] text-[#081c15] items-center p-[0.5rem] rounded-[5px]"
      ></textarea>
      <button
        type="submit"
        class="m-[2rem] p-[0.5rem] bg-[#fefae0] text-[#081c15] rounded-[5px]"
      >
        Send
      </button>
    </form>
  </body>
</html>
