@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    background: #fefae0;
    color: #081c15;
    font-family: 'Overpass Mono', monospace;
}

